@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply block
    px-8
    pt-5
    w-full
    h-12
    text-sm
    text-white
    bg-transparent
    dark:bg-gray-700
    border-0
    border-b-2
    border-gray-300
    appearance-none
    dark:text-white
    dark:border-gray-600
    dark:focus:border-blue-500
    focus:outline-none
    focus:ring-0
    focus:border-blue-600;
  }
  .label {
    @apply absolute
    text-sm
    text-gray-500
    dark:text-gray-400
    duration-500
    transform
    scale-75
    top-4
    -translate-y-4
    origin-[0]
    left-0
    peer-focus:text-blue-600
    peer-focus:dark:text-blue-500
    peer-placeholder-shown:scale-100
    peer-placeholder-shown:translate-y-2
    peer-placeholder-shown:translate-x-6
    peer-focus:scale-75
    peer-focus:-translate-y-4
    peer-focus:-translate-x-0
  }
  .icon {
    @apply absolute top-1/2 left-0 text-lg
  }
  .textbox {
    @apply relative mb-4
  }
}

